<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Login Page</title>
  <!-- <link rel="stylesheet" href="styles.css"> -->
  <link rel="stylesheet" href="/css/userSignUp.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
  <div class="container">
    <div class="login-box">
      <h1>Verify email</h1>

      <form action="/forgot-password" method="POST" id="loginForm">
        <div class="input-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</body>

<script>
  document.getElementById('loginForm').addEventListener('submit', async function (e) {
    e.preventDefault();

    const email = document.getElementById('email').value.trim();




    // Validate email format
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    if (!emailRegex.test(email)) {
      //alert('Please enter a valid email address.');
      Swal.fire({
        icon: 'error',
        title: 'Varification Failed',
        text: "Please enter a valid email address."
      });

      e.preventDefault();
      return;
    }

    // Check if password is entered


    try {
      const response = await fetch('/forgot-password', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ email, password })
      })

      const result = await response.json();

      if (result.success) {
        await Swal.fire({
          icon: 'success',
          title: 'Login Successful!',
          text: result.message,
          timer: 1500,
          showConfirmButton: false
        });
        window.location.href = result.redirectUrl;
      } else {
        await Swal.fire({
          icon: 'error',
          title: 'Login Failed',
          text: result.message
        });
      }
    } catch (error) {
      console.error('Error:', error);
      await Swal.fire({
        icon: 'error',
        title: 'Oops!',
        text: 'Something went wrong. Please try again later.'
      });
    }
  });
</script>

</html>